/*
    styles.css
    WaterSafety Prototyping
*/


/*  Light Mode Colors  */
@media(prefers-color-scheme: light) {
    :root {
        --body-background-color: #ededed;
        --body-foreground-color: #000000;
    }
}

/*  Dark Mode Colors  */
@media(prefers-color-scheme: dark) {
    :root {
        --body-background-color: #121212;
        --body-foreground-color: #efefef;
    }
}

body {
    background-color: var(--body-background-color);
    color: var(--body-foreground-color);
}

div.center {
    min-width: 200pt;
    max-width: 800pt;
    align: center;
    margin: auto;
}

table#conditions tr.measurement td.label {
    font-weight: bold;
    text-align: right;
}

table#conditions tr.measurement td.value {
    text-align: left;
}
